<template>
  <v-container class="text-sm-left">
    <v-toolbar flat>
      <v-toolbar-title>Control and set up sites to experiment with AMPS</v-toolbar-title>
      <v-spacer />
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat @click="showForm = true">
          Add Site
        </v-btn>
        <v-btn flat @click="siteGenerator.clearAllSites()">
          Remove All Sites
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <offline-add-site v-if="showForm" @cancel="showForm=false" @add="addSite" />
    <offline-sites-list v-else />
  </v-container>
</template>

<script>
import { ref } from '@vue/composition-api'
import { useSiteGenerator } from '@/generators/siteGenerator'
import OfflineAddSite from './OfflineAddSite'
import OfflineSitesList from './OfflineSitesList'


export default {
  components: {
    OfflineAddSite, OfflineSitesList
  },
  setup () {
    const { siteGenerator } = useSiteGenerator()
    const showForm = ref(false)

    function addSite(siteName, siteDef) {
      // console.log('add site ', siteName, siteDef)
      siteGenerator.addSiteToList(siteName, siteDef)
      showForm.value = false
    }
    return {
      showForm,
      addSite,
      siteGenerator,
    }
  }
}
</script>

<style scoped>
</style>
