<template>
  <div>
    <div class="title">
      <h1>Offline Prototype Controls</h1>
    </div>
    <v-tabs fixed-tabs dark slider-color="red">
      <v-tab key="sites">
        Offline Sites
      </v-tab>
      <v-tab key="sessions">
        Sessions
      </v-tab>
      <v-tab-item key="sites">
        <offline-sites />
      </v-tab-item>
      <v-tab-item key="sessions">
        <offline-sessions />
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import OfflineSites from './OfflineSites'
import OfflineSessions from './OfflineSessions'
export default {
  components: {
    OfflineSites, OfflineSessions
  }
}
</script>
