<template>
  <v-form v-model="formIsValid">
    <v-container>
      <v-layout>
        <v-flex
          xs12
          md4
        >
          <v-text-field
            v-model="siteName"
            :rules="validation.nameRules"
            :counter="10"
            label="Site name"
            required
          />
          <v-radio-group v-model="systemType">
            <v-radio
              :key="systemTypes.Orca.key"
              :label="systemTypes.Orca.label"
              :value="systemTypes.Orca"
            />
            <v-radio
              :key="systemTypes.Blue.key"
              :label="systemTypes.Blue.label"
              :value="systemTypes.Blue"
            />
          </v-radio-group>
        </v-flex>
        <v-flex
          xs12
          md4
        >
          <v-text-field
            v-model="siteDef.numberOfArrays"
            :rules="validation.numRules('arrays')"
            label="Number of Arrays"
            required
          />
          <v-text-field
            v-model="siteDef.stringsPerArray"
            :rules="validation.numRules('strings')"
            label="Number of Strings per Array"
            required
          />
          <v-text-field
            v-model="siteDef.modulesPerString"
            :rules="validation.numRules('modules')"
            label="Number of Modules per String"
            required
          />
          <v-text-field
            v-model="siteDef.cellsPerModule"
            :rules="validation.numRules('cells')"
            label="Number of Cells per Module"
            required
          />
        </v-flex>
      </v-layout>
    </v-container>
    <v-btn :disabled="!formIsValid" @click="addSite()">
      Add Site
    </v-btn>
    <v-btn @click="$emit('cancel')">
      Cancel
    </v-btn>
  </v-form>
</template>

<script>
import { ref, watch, onMounted } from '@vue/composition-api'
import { useSiteGenerator } from '@/generators/siteGenerator'

export default {
  setup (props, {emit}) {
    const offlineRef = ref(offline)
    const { SystemTypes, siteGenerator } = useSiteGenerator()

    const showForm = ref(false)
    const showList = ref(false)
    const formIsValid = ref(false)

    const systemTypes = ref(SystemTypes)
    const systemType = ref(SystemTypes.Orca )
    function initSiteDef() {
      siteDef.value = Object.assign({}, systemType.value.siteDef )
    }
    const siteName = ref('')

    const siteDef = ref ({
      numberOfArrays: '2',
      stringsPerArray: 4,
      modulesPerString: 8,
      cellsPerModule: 16
    })
    const validation = ref(
      {
        nameRules: [
          v => !!v || 'Name is required',
          v => siteGenerator.findSite(v) === undefined || 'Name must be unique'
        ],
        numRules: (deviceLevel) => {
          let bounds = systemType.value.bounds[deviceLevel]
          let min = bounds[0], max = bounds[1]
          return [
            v => !!v || 'Number is required',
            v => Number.isInteger(Number.parseInt(v)) || `Value ${v} must be an integer`,
            v => Number.parseInt(v) >= min && Number.parseInt(v) <= max  || `Number must be between ${min} and ${max}`
          ]
        },
        arrayRules: [
          v => !!v || 'Number of array is required',
          v => Number.isInteger(Number.parseInt(v)) || `Value ${v} must be an integer`,
          v => Number.parseInt(v) > 0 && Number.parseInt(v) <=2  || 'Can only have 1 or 2 arrays'
        ]
      })

    function addSite () {
      console.log('emiting add site ', siteName.value, siteDef.value)
      emit('add', siteName.value, siteDef.value)
    }

    watch( systemType, () => initSiteDef() )
    onMounted( () => { initSiteDef() } )

    return {
      addSite,
      offline,
      showList,
      showForm,
      formIsValid,
      systemType,
      systemTypes,
      siteName,
      siteDef,
      siteGenerator,
      validation
    }
  }
}
</script>

<style scoped>
</style>
