<template>
  <v-layout>
    <v-data-table
      :items="siteGenerator.siteList.value"
      :headers="headers"
      class="elevation-1"
      hide-actions
    >
      <template #items="props">
        <td>{{ props.item.siteName }}</td>
        <td class="text-xs-right">
          {{ props.item.numberOfArrays }}
        </td>
        <td class="text-xs-right">
          {{ props.item.stringsPerArray }}
        </td>
        <td class="text-xs-right">
          {{ props.item.modulesPerString }}
        </td>
        <td class="text-xs-right">
          {{ props.item.cellsPerModule }}
        </td>
        <td class="text-xs-right">
          {{ props.item.isConnected }}
        </td>
        <td class="justify-center">
          <v-icon v-if="!props.item.isConnected" class="mr-2 active" @click="connect(props.item)">
            play_arrow
          </v-icon>
          <v-icon v-else class="mr-2 inactive" @click="disconnect(props.item)">
            pause
          </v-icon>
          <v-icon @click="deleteItem(props.item)">
            delete
          </v-icon>
        </td>
      </template>
    </v-data-table>
  </v-layout>
</template>

<script>
import { ref } from '@vue/composition-api'
import { useSiteGenerator } from '@/generators/siteGenerator'

export default {
  components: {
  },
  setup () {
    const { siteGenerator } = useSiteGenerator()
    const headers = ref([
      { text: 'Site Name',  align: 'left', value: 'siteName'},
      { text: 'Arrays', align: 'right', value: 'numberOfArrays'},
      { text: 'Strings', align: 'right', value: 'stringsPerArrat'},
      { text: 'Modules', align: 'right', value: 'modulesPerString' },
      { text: 'Cells',  align: 'right',  value: 'cellsPerModule' },
      { text: 'Connected',  align: 'left', value: 'isConnected'},
      { text: 'Actions', value: 'name', sortable: false }
    ])

    // TODO  make sure the connection of one site disconnects the others
    // TODO make sure the connection state is not stored in localstorage
    function connect(item) {
      siteGenerator.connect(item.siteName)
    }
    function disconnect(item) {
      siteGenerator.disconnect(item.siteName)
    }
    function deleteItem(item) {
      siteGenerator.removeOne(item.siteName)
    }
    return {
      headers,
      connect, disconnect, deleteItem,
      siteGenerator,
    }
  }
}
</script>

<style scoped>
  .active {
    color: forestgreen;
    background: white
  }
  .inactive {
    color: red;
    background: white
  }
</style>
