<template>
  <div>
    <v-container v-if="hideSessionRoughStuff">
      <v-layout>
        <v-flex>
          <v-card style="font-size: 2rem; font-style: italic">
            This tab will show stuff related to offline simulation of sessions
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <!--    The rest of this file may or may not contain garbage-->
    <v-container v-else class="text-sm-left">
      <v-layout v-if="!showForm" row>
        <v-flex>
          <v-btn @click="showList = !showList">
            List sessions
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn @click="showForm = true">
            Add session
          </v-btn>
        </v-flex>
      </v-layout>
      <div v-if="showForm">
        <v-form v-model="formIsValid">
          <v-container>
            <v-layout>
              <v-flex
                xs12
                md4
              >
                <v-text-field
                  v-model="sessionName"
                  :rules="validation.sessionNameRules"
                  :counter="20"
                  label="Session name"
                  required
                />

                <v-select
                  v-model="theSite"
                  :items="siteList"
                  item-text="siteName"
                  :rules="validation.siteRules"
                  filled
                  label="Sites"
                />
              </v-flex>
            </v-layout>
            <v-btn :disabled="!formIsValid" @click="addSession()">
              Add session
            </v-btn>
            <v-btn @click="showForm = false">
              Cancel
            </v-btn>
          </v-container>
        </v-form>
      </div>
      <v-list v-if="showList" dense>
        <v-list-tile v-for="session in sessionGenerator.sessionList.value" :key="session.sessionName">
          <v-list-tile-content>
            <v-container>
              <v-layout>
                <v-flex xs3>
                  Session Name: {{ session.sessionName }}
                </v-flex>
                <v-flex xs3>
                  Site: {{ session.siteMeta.siteName }}
                </v-flex>
                <v-flex xs2>
                  <v-btn @click="removeOne(session.sessionName)">
                    Delete
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-container>
  </div>
</template>

<script>
import { computed, ref } from '@vue/composition-api'
import { useSiteGenerator } from '@/generators/siteGenerator'
import { useSessionGenerator } from '@/generators/sessionGenerator'

export default {
  setup () {
    const { sessionGenerator } = useSessionGenerator()
    const { siteGenerator } = useSiteGenerator()
    const showForm = ref(false)
    const formIsValid = ref(false)
    const showList = ref(false)
    const theSite = ref({})
    const hideSessionRoughStuff = ref(true)

    const siteList = computed( () => siteGenerator.siteList.value)

    const validation = ref(
      {
        sessionNameRules: [
          v => !!v || 'A session name is required',
          v => sessionGenerator.findSession(v) === undefined || 'Name must be unique'
        ],
        siteRules: [
          v => !!v || 'A site is required',
        ],
      })
    const sessionName = ref('')

    function addSession () {
      const site = siteGenerator.findSite(theSite.value)
      console.log('add session', sessionName.value, site)
      sessionGenerator.addSessionToList(sessionName.value, site)
      showForm.value = false
    }

    function removeOne(name) {
      sessionGenerator.removeOne(name)
    }

    return {
      hideSessionRoughStuff,
      addSession,
      showForm,
      siteList,
      sessionName,
      sessionGenerator,
      siteGenerator,
      validation, formIsValid,
      removeOne,
      showList,
      theSite
    }
  }
}
</script>

<style scoped>
</style>
