<template>
  <div>
    <!--
    This page provides two tabs. One to select the data channels and the second to see the graphical representation of the data selected.
    At this stage of development the plumbing is roughed in.
    The graphing doesn't show anything because we have no channel data. An earlier prototype stage did show faked data.

    Selecting the "showProto" uses the earlier prototype. Otherwise you see the bleeding edge of dev.
    -->
    <v-container fluid class="title">
      <v-layout row wrap>
        <v-flex xs8>
          <h1>Session {{ sessionName }}</h1>
        </v-flex>
        <v-flex>
          <v-btn @click="showProto = !showProto">
            {{ showProto ? 'showLeading' : 'show proto' }}
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-divider />
    <div class="page">
      <v-card />
      <v-tabs v-model="tabSelected" fixed-tabs>
        <v-tab key="select">
          Select Channel
        </v-tab>
        <v-tab key="graph">
          Graph
        </v-tab>
        <v-tabs-items>
          <v-tab-item key="select">
            <v-card flat>
              <session-channel-selector-proto v-if="showProto" />
              <session-channel-selector v-else />
            </v-card>
          </v-tab-item>
          <v-tab-item key="graph">
            <v-card flat>
              <session-graph-proto v-if="showProto" />
              <session-graph v-else />
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>
    </div>
  </div>
</template>
<script>
import { ref } from '@vue/composition-api'
import SessionChannelSelectorProto from '@/components/SessionChannelSelectorProto.vue'
import SessionChannelSelector from '@/components/SessionChannelSelector.vue'
import SessionGraphProto from '@/components/SessionGraphProto.vue'
import SessionGraph from '@/components/SessionGraph.vue'
export default {
  components: {
    SessionChannelSelector, SessionChannelSelectorProto,
    SessionGraph, SessionGraphProto },

  setup (props, context) {
    const params = context.root.$route.params
    const sessionName = params.sessionName
    const showProto = ref(false)
    const tabSelected = ref('select')
    return {
      showProto,
      sessionName, tabSelected
    }
  }
}
</script>

<style scoped>
</style>
