<template>
  <div>
    <div class="title">
      <h1>Historical Data / Sessions</h1>
    </div>
    <v-divider />
    <v-card>
      <v-card-text>This page will let users select historical session data and upload files and generally manage this data.</v-card-text>
      <v-card-text>At this stage of development we list some prototypical sessions for users to select</v-card-text>
    </v-card>
    <v-divider />
    <v-list>
      <v-list-tile v-for="session in sessions" :key="session">
        <!--        As user selects a session route to the session page and pass in the name of the session. See Session.vue-->
        <router-link :to="`/session/${session}`">
          {{ session }}
        </router-link>
      </v-list-tile>
    </v-list>
  </div>
</template>

<script>
import { ref, onMounted } from '@vue/composition-api'
import { useSessionProvider } from '@/providers/sessionProvider'

export default {
  setup () {
    const { sessionProvider } = useSessionProvider()
    const sessions = ref([])

    async function init() {
      sessions.value = await sessionProvider.fetchSessionList()
    }

    onMounted( () =>{
      init()
    })

    return {
      sessions
    }
  }
}
</script>
<style>
</style>
