<template>
  <div>
    <div v-if="!isConnected">
      <div class="title">
        <h1>No System Is Connected</h1>
        <div>
          No site is connected at the moment
        </div>
      </div>
    </div>
    <div v-else>
      <div class="title">
        <h1>Live Connected System: {{ onLineSite.siteName }}</h1>
      </div>
      <v-divider />
      <v-container>
        <v-layout align-start justify-start column>
          <v-flex>Array count: {{ onLineSite.numberOfArrays }}</v-flex>
          <v-flex>String count: {{ onLineSite.stringsPerArray }}</v-flex>
          <v-flex>Module count: {{ onLineSite.modulesPerString }}</v-flex>
          <v-flex>Cell count: {{ onLineSite.cellsPerModule }}</v-flex>
        </v-layout>
      </v-container>
      <v-divider />
    </div>
  </div>
</template>

<script>
import { computed } from '@vue/composition-api'
import { useSiteGenerator } from '@/generators/siteGenerator'

export default {
  name: 'System',
  setup () {
    const {siteGenerator} = useSiteGenerator()
    const onlineSites = computed(() => siteGenerator.onlineSites())
    const onLineSite = computed( () => {
      let sites = onlineSites.value
      if (sites.length > 0)
        return sites[0]
      return {}
    })

    const isConnected = computed( () => onlineSites.value.length > 0)
    return {
      siteGenerator,
      isConnected,
      onLineSite,
      onlineSites
    }
  }
}
</script>

<style scoped>
</style>
