<template>
  <v-navigation-drawer permanent>
    <v-toolbar flat>
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="nav-title">
            AMPS 4
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-divider />

    <v-list dense>
      <v-list-tile @click="goto('System')">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-list-tile-action v-on="on">
              <v-icon>tune</v-icon>
            </v-list-tile-action>
          </template>
          <span>Live System Control</span>
        </v-tooltip>
      </v-list-tile>
      <v-list-tile @click="goto('SystemData')">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-list-tile-action v-on="on">
              <font-awesome-icon class="rotate" icon="share-alt" />
            </v-list-tile-action>
          </template>
          <span>Live System Data</span>
        </v-tooltip>
      </v-list-tile>
      <v-list-tile @click="goto('Sessions')">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-list-tile-action v-on="on">
              <font-awesome-icon icon="chart-line" />
            </v-list-tile-action>
          </template>
          <span>Historical Sessions</span>
        </v-tooltip>
      </v-list-tile>
    </v-list>

    <v-divider />
    <span>Dev below..</span>
    <v-divider />
    <v-list dense>
      <v-list-tile @click="goto('Offline')">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <v-list-tile-action v-on="on">
              <v-icon>extension</v-icon>
            </v-list-tile-action>
          </template>
          <span>Backend Offline</span>
        </v-tooltip>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import router from '@/router'
import { useUiSystem } from '@/providers/uiSystem'
export default {
  setup () {
    // to prevent duplicate navigation we track the last selected path
    let cPath =''
    const goto = function (name) {
      if(cPath !== name) {
        cPath = name
        router.push({
          name: name
        })
      }
    }
    return {
      goto
    }
  }
}
</script>

<style>
.rotate {
  transform: rotateY(0deg) rotate(-65deg); /* needs Y at 0 deg to behave properly*/
}

</style>
