<template>
  <div>
    <div v-if="justPaths.length > pagination.perPage" class="text-center">
      <v-pagination
        v-model="pagination.page"
        :length="Math.ceil(justPaths.length/pagination.perPage)"
        :total-visible="7"
      />
    </div>

    <v-container>
      <v-layout>
        <v-flex>
          <v-text-field v-model="searchInput"
                        class="ml-3 mb-3  mr-1"
                        label="Search"
                        flat
                        hide-details
                        clearable
                        clear-icon="mdi-close-circle-outline"
                        @click:clear="resetSearch"
                        @keyup.enter="handleSearch"
          />
        </v-flex>
      </v-layout>
      <v-layout row class="action-bar">
        <v-flex xs2>
          <v-checkbox class="pl-3 pt-0 mt-0"
                      :input-value="toggleState.all"
                      :indeterminate="toggleState.indeterminate"
                      primary
                      hide-details
                      @click.stop="toggleAll"
          />
        </v-flex>
        <v-flex>
          {{ justActivePaths.length | integerFormat }} selected of {{ justPaths.length | integerFormat }} components
        </v-flex>
        <v-flex xs2 class="action-bar-right">
          <v-tooltip bottom>
            <template #activator="{ on }">
              <v-btn class="showSelectedButton" v-on="on" @click="showSelected = !showSelected">
                <font-awesome-icon :icon="showSelected ? 'list' : 'list-alt'" />
              </v-btn>
            </template>
            <span>{{ showSelected ? 'show list' : 'show all selected' }}</span>
          </v-tooltip>
        </v-flex>
      </v-layout>
    </v-container>
    <div class="component-selector">
      <v-list class="list">
        <v-list-tile v-for="item in visiblePaths" :key="item.path" v-model="item.active" :class="{active: item.active}" class="selectable" @click="selected(item)">
          <v-list-tile-action>
            <v-checkbox
              v-model="item.active"
              primary
              hide-details
              @click="selected(item)"
            />
          </v-list-tile-action>
          <v-list-tile-title>
            {{ item.path }}
            <v-icon v-if="item.typeStr ==='C'">
              mdi-battery-80
            </v-icon>
            <v-icon v-else-if="item.typeStr ==='M'">
              mdi-amplifier
            </v-icon>
            <v-icon v-else-if="item.typeStr ==='S'">
              mdi-animation
            </v-icon>
            <v-icon v-else-if="item.typeStr ==='A'">
              mdi-domain
            </v-icon>
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </div>
  </div>
</template>

<script>
import { computed, ref, onMounted } from '@vue/composition-api'
import { useSessionProvider } from '@/providers/sessionProvider'

export default {
  setup (props, context) {
    const params = context.root.$route.params
    const sessionName = params.sessionName
    const { sessionProvider } = useSessionProvider()

    const site = ref({})
    const searchInput = ref('')
    const listSearch = ref('')
    const showSelected = ref(false)

    async function init() {
      let session = await sessionProvider.openSession(sessionName)
      site.value = session.getSite()
      // console.log('init component selector list view ', sessionName, '/', site.value.siteName)
    }

    const justPaths = computed(() => {
      let list = site.value.getComponentPathList ? site.value.getComponentPathList() : []
      if (showSelected.value) {
        list = list.filter( e => e.active)
      } else {
        let sv = listSearch.value.toLocaleUpperCase()
        if (sv.length > 0) {
          list = list.filter(p => {
            return p.path.includes(sv)
          })
        }
      }
      return list
    })

    const justActivePaths = computed(() => {
      return site.value.getActivePaths ? site.value.getActivePaths() : []
    })

    function handleSearch() {
      listSearch.value = searchInput.value
    }
    function resetSearch () {
      listSearch.value = ''
    }
    const pagination = ref({
      page: 1,
      perPage: 20
    })

    const visiblePaths = computed ( () => {
      let pgn = pagination.value
      let from = (pgn.page - 1) * pgn.perPage
      let to = from + pgn.perPage
      // console.log('visiblePaths', Array.isArray(justPaths.value), justPaths.value)
      return justPaths.value.slice(from,to)
    })

    const toggleState = computed( () => {
      let items = visiblePaths.value
      let active = items.filter( e => e.active)
      return {
        all: items.length > 0 && items.length === active.length,
        indeterminate: active.length > 0 && active.length < items.length
      }
    })
    function toggleAll () {
      let items = visiblePaths.value
      let all = toggleState.value.all
      let newValue = !all
      items.forEach (e => e.active = newValue)
    }

    onMounted( () =>{
      init()
    })

    function selected(p) {
      p.active = !p.active
    }
    return {
      searchInput, handleSearch, resetSearch,
      sessionName,
      visiblePaths,
      justPaths, justActivePaths,
      pagination,
      selected,
      showSelected,
      site,
      toggleAll, toggleState
    }
  }
}
</script>
<style scoped>
  .component-selector {
    text-align: left;
    height: 70rem;
    overflow-y: auto;
  }
  .selectable {
    cursor: pointer;
    height: 3rem;
    border-bottom: 1px solid lightgray;
  }
  .active {
    border-bottom: 2px solid darkgray;
  }

  .action-bar {
    align-items: center;
    display: flex;
  }

  .action-bar-right {
    margin-left: auto;
  }
  .showSelectedButton {
    min-width: 1rem !important;
    font-size: 12px;
  }
  .list {
  }
</style>
