<template>
  <v-card>
    <v-card-title>
      {{ activeComponents.length | integerFormat }} components active.
      {{ activeChannels.length }} channels selected
      <v-spacer />
      <v-btn small class="clear-search-button" :disabled="search.length === 0" @click="search = ''">
        <v-icon small>
          clear
        </v-icon>
      </v-btn>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      />
    </v-card-title>
    <v-data-table
      ref="refToDataTable"
      :headers="headers" :items-per-page="100"
      :sort-by="`['${pagination.sortBy}']`"
      :pagination.sync="pagination"
      :search="search"
      select-all
      :items="allChannelsForActiveComponents"
      item-key="id"
    >
      <template #headers="props">
        <tr>
          <th>
            <v-checkbox
              :input-value="toggleState.all"
              :indeterminate="toggleState.indeterminate"
              primary
              hide-details
              @click.stop="toggleAll"
            />
          </th>
          <th
            v-for="header in props.headers"
            :key="header.text"
            :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
            @click="changeSort(header.value)"
          >
            {{ header.text }}
            <v-icon small>
              arrow_upward
            </v-icon>
          </th>
        </tr>
      </template>
      <template #items="props">
        <tr :active="props.item.active" @click="props.item.toggleActive()">
          <td>
            <v-checkbox
              v-model="props.item.active"
              primary
              hide-details
              @click="props.item.active = !props.item.active"
            />
          </td>
          <td class="">
            {{ props.item.id }}
          </td>
          <td class="">
            {{ props.item.title }}
          </td>
          <td class="">
            {{ props.item.category }}
          </td>
          <td class="">
            {{ props.item.deviceLevel }}
          </td>
          <!--        <td class="">-->
          <!--          {{ props.item.key }}-->
          <!--        </td>-->
          <td>
            {{ props.item.value }}
          </td>
          <td>
            {{ props.item.units }}
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { computed, onMounted, ref } from '@vue/composition-api'
import { useChannelProvider } from '@/providers/channelProvider'
import { useSessionProvider } from '@/providers/sessionProvider'

export default {
  components: {
  },
  setup (props, context) {
    const params = context.root.$route.params
    const sessionName = params.sessionName
    const { sessionProvider } = useSessionProvider()
    const { channelProvider } = useChannelProvider()

    const site = ref({})
    const allIoChannels = ref([])

    async function init() {
      let session = await sessionProvider.openSession(sessionName)
      site.value = session.getSite()
    }

    const activeComponents = computed(() => {
      return site.value.getActivePaths ? site.value.getActivePaths() : []
    })

    const allChannelsForActiveComponents = computed ( () => {
      return site.value.getChannelsForComponents ? site.value.getChannelsForComponents(activeComponents.value) : []
    })

    const activeChannels = computed( () => {
      return allChannelsForActiveComponents.value.filter( e => e.active )
    })

    // provide a space for the search input box and the data table to follow what term the user wishes to filter by
    const search = ref('')

    /*
    Sample io path element:
      "key": "CVOLT",
      "title": "Cell Voltage",
      "path": "A01/P01/M01/C01",
      "category": "voltage",
      "units": "V",
      "description": "Cell Voltage",
      "deviceLevel": "cv-cell"
   */
    const headers = ref([
      {
        text: 'Path',
        value: 'path',
        sortable: true
      },
      {
        text: 'Title',
        value: 'title',
        sortable: true
      },
      {
        text: 'Category',
        value: 'category',
        sortable: true
      },
      {
        text: 'Level',
        value: 'deviceLevel',
        groupable: true,
        sortable: true
      },
      {
        text: 'Value',
        value: 'value',
      },
      {
        text: 'Units',
        value: 'units',
        groupable: true,sortable: true
      },
    ])

    const pagination = ref({
      sortBy: 'path', descending: true, rowsPerPage: 20
    })

    // on mount vue will load a reference to the data table into this refToDataTable ref
    const refToDataTable = ref(null)

    const toggleState = computed( () => {
      // until the table is mounted refToDataTable.value is null
      let items = refToDataTable.value ? refToDataTable.value.filteredItems : []
      let active = items.filter( e => e.active)
      return {
        all: items.length > 0 && items.length === active.length,
        indeterminate: active.length > 0 && active.length < items.length
      }
    })
    function toggleAll () {
      let items = refToDataTable.value.filteredItems
      let all = toggleState.value.all
      let newValue = !all
      items.forEach (e => e.active = newValue)
    }

    function changeSort (column) {
      // console.log('changeSort',column, pagination.value.sortBy)
      if (pagination.value.sortBy === column) {
        pagination.value.descending = !pagination.value.descending
      } else {
        pagination.value.sortBy = column
        pagination.value.descending = false
      }
      // console.log('changeSort',column, pagination.value.sortBy, pagination.value.descending)
    }

    onMounted( () =>{
      init()
    })


    return {
      activeChannels,
      activeComponents,
      allChannelsForActiveComponents,
      toggleState,
      // for table
      refToDataTable,
      changeSort,
      headers,
      pagination,
      search,
      toggleAll,
    }
  }
}
</script>
<style scoped>
  .clear-search-button {
    margin-right: 1rem;
    min-width: 1rem;
    top: 0.9rem;
  }
  .path-selector {
    text-align: left;
    padding-bottom: 10px;
  }
  .selectable {
    cursor: pointer;
    padding: 2px 0 2px 10px;
    border-bottom: 1px solid lightgray;
  }
  .active {
    background-color: #efefef;
  }

  .mi-dataTable{
    table-layout: fixed;
  }
</style>
