<template>
  <div class="component-selector">
    <v-text-field
      v-model="searchInput"
      label="Search"
      flat
      hide-details
      clearable
      clear-icon="mdi-close-circle-outline"
      @keyup.enter="handleSearch"
    />
    <v-btn small @click="expandAll">
      +
    </v-btn>
    <v-btn small @click="collapseAll">
      -
    </v-btn>
    <v-treeview
      ref="refToDataTable"
      :items="filteredItems"
      :search="treeSearch"
      :filter="treeFilter"
      :open.sync="openList"
      dense
      hoverable
      item-key="path"
      multiple-active
      open-on-click
      return-object
      selectable
    >
      <template #label="{ item }">
        <v-tooltip bottom>
          <template #activator="{ on }">
            <span v-on="on">{{ item.name }}</span>
          </template>
          <span>{{ item.path }}</span>
        </v-tooltip>
      </template>
      <template #prepend="{ item }">
        <v-icon v-if="item.typeStr ==='C'">
          mdi-battery-80
        </v-icon>
        <v-icon v-else-if="item.typeStr ==='M'">
          mdi-amplifier
        </v-icon>
        <v-icon v-else-if="item.typeStr ==='S'">
          mdi-animation
        </v-icon>
        <v-icon v-else-if="item.typeStr ==='A'">
          mdi-domain
        </v-icon>
        <pre v-else>ts:{{ item.typeStr }}</pre>
      </template>
    </v-treeview>
  </div>
</template>

<script>
import { ref, computed, nextTick } from '@vue/composition-api'
import { useSiteGenerator } from '@/generators/siteGenerator'

export default {
  name: 'System',
  setup () {
    const {siteGenerator} = useSiteGenerator()
    const onlineSites = computed(() => siteGenerator.onlineSites())
    const onLineSite = computed( () => {
      let sites = onlineSites.value
      if (sites.length > 0)
        return sites[0]
      return {}
    })

    const isConnected = computed( () => onlineSites.value.length > 0)
    const searchInput = ref('')
    const treeSearch = ref('')
    const openList = ref([])
    const selectedValue = ref([])
    const filteredItems = computed( () => {
      console.log('filteredItems', treeSearch.value)
      let tree = onLineSite.value.children
      return tree
    })

    const treeFilter = computed( () => {
      //console.log('filterC')
      return ((item, treeSearch, textKey) => {
        let pth = item.path.toLowerCase()
        let sp = treeSearch.toLowerCase()
        let r = pth.includes(sp)
        return r
      })
    })

    function expandAll() {
      nextTick(() => {
        console.log('expandAll')
        refToDataTable.value.updateAll(true)
      } )
    }
    function collapseAll() {
      nextTick(() => {
        console.log('collapseAll')
        refToDataTable.value.updateAll(false)
      } )
    }

    function handleSearch() {
      treeSearch.value = searchInput.value
    }
    // on mount vue will load a reference to the data table into this refToDataTable ref
    const refToDataTable = ref(null)

    return {
      searchInput, treeSearch, treeFilter, openList, expandAll, collapseAll, handleSearch, refToDataTable, filteredItems, selectedValue,

      siteGenerator,
      isConnected,
      onLineSite,
      onlineSites
    }
  }
}
</script>

<style scoped>
  .component-selector {
    text-align: left;
    height: 70rem;
    overflow-y: auto;
  }

  .elementContainer {
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    margin-bottom: 0.5rem;
  }
  .box {
    flex-basis: 2rem;
    min-height: 1.5rem;
    padding: 1px;
    margin: 0 1rem 0 0;
    border-color: #FF8300 !important;
    box-shadow: 1px 1px 1px 1px rgba(255, 130, 0, .7) !important;
  }
  .boxLabel {
    align-items: center;
    flex-basis: 4rem;
    justify-content: center;
    padding-left: 5px;
    min-width: 5rem;
    /*vertical-align: center;*/
    border-color: transparent;
    box-shadow: none;
  }
</style>
