<template>
  <div id="draggable-container" ref="draggableContainer">
    <div class="background" @mousedown="dragMouseDown">
      <div id="draggable-header" class="header">
        title {{ title }}
      </div>
      <div class="main">
        <slot />
      </div>
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
//With thanks to https://dev.to/mandrewcito/vue-js-draggable-div-3mee
export default {
  name: 'DraggableDiv',
  props: {
    title: {type: String, default: 'a title'}
  },
  data: function () {
    return {
      positions: {
        clientX: undefined,
        clientY: undefined,
        movementX: 0,
        movementY: 0
      }
    }
  },
  methods: {
    dragMouseDown: function (event) {
      event.preventDefault()
      // get the mouse cursor position at startup:
      this.positions.clientX = event.clientX
      this.positions.clientY = event.clientY
      document.onmousemove = this.elementDrag
      document.onmouseup = this.closeDragElement
    },
    elementDrag: function (event) {
      event.preventDefault()
      this.positions.movementX = this.positions.clientX - event.clientX
      this.positions.movementY = this.positions.clientY - event.clientY
      this.positions.clientX = event.clientX
      this.positions.clientY = event.clientY
      // set the element's new position:
      let container = this.$refs.draggableContainer
      container.style.top = (container.offsetTop - this.positions.movementY) + 'px'
      container.style.left = (container.offsetLeft - this.positions.movementX) + 'px'
    },
    closeDragElement () {
      document.onmouseup = null
      document.onmousemove = null
    }
  }
}
</script>

<style>
   #draggable-container {
      position: absolute;
      z-index: 9;
   }
   #draggable-header {
      z-index: 10;
   }
   .header {
      cursor: move;
      background-color: darkgray;
      border:1px solid darkslategray;
   }
   .background {
      cursor: move;
      background-color: lightgray;
      border:1px solid darkslategray;
   }
   .main {
      padding: 5px;
   }
</style>

