<template>
  <div>
    <draggable id="legend" class="legend" title="Legend">
      <template slot="default">
        <div v-for="path in activeChannels" :key="path.name" style="text-align: left">
          {{ path.name }}
        </div>
      </template>
    </draggable>
    <div id="session_graph" class="io-graph pb-2" style="text-align: center" />
  </div>
</template>

<script>
import { computed, onMounted, ref, watch } from '@vue/composition-api'
import { userGraphHelper } from '@/components/graphHelper'
import { useSystemHelper } from '@/providers/graphDataSeries'
import { useChannelProvider } from '@/providers/channelProviderProto'
import Draggable from '@/components/Draggable'

export default {
  components: {
    Draggable
  },
  setup () {
    const graphHelper = userGraphHelper()
    const systemHelper = useSystemHelper()
    const channelProvider = useChannelProvider()
    const { activeChannels, channels } = channelProvider
    const GRAPH_ELEMENT_ID = 'session_graph'

    const system = ref({})
    const legendSeries = computed( () => {
      let results = system.series
      // console.log('computed', system)
      // console.log('computed', system.value)
      // console.log('computed', system.value.allSeries)
      return results
    })
    watch(channels, () => { rebuild() },{deep: true })

    function activePath () {
      rebuild()
    }
    function rebuild () {
      system.value = systemHelper.createSystem(channels.value)
      let svg = graphHelper.createSVG(GRAPH_ELEMENT_ID, system.value)
      graphHelper.buildGraph(svg, system.value)
      graphHelper.createCrossHair(svg, system.value)
    }
    onMounted( () => {
      rebuild()
    })
    return {
      activePath,
      activeChannels,
      legendSeries,
      channels
    }
  },
  methods: {}
}
</script>
<style>
   .legend {
      position: absolute;
      top: 10%;
      left: 80%;
   }
   .io-graph {
      background-color: #f5f5f5;
      border: 1px solid black
   }

   .xAxis line {
      stroke: black;
   }

   .xAxis path {
      stroke: black;
   }

   .xAxis text {
      fill: black;
   }

   .yAxis line {
      stroke: black;
   }

   .yAxis path {
      stroke: black;
   }

   .yAxis .axisText {
      fill: black;
      /* The floating box that tracks mouse moves has text. This sets the size of that text. */
      font-size: 0.8rem;
   }
</style>
