<template>
  <div class="container">
    <div v-for="chan in channels" :key="chan.name">
      <div class="selectable" :class="{ active: chan.activeInGraph }" @click="chan.activeInGraph = !chan.activeInGraph">
        {{ chan.name }}
      </div>
    </div>
  </div>
</template>

<script>
import { useChannelProvider } from '@/providers/channelProviderProto'

export default {
  setup () {
    const channelProvider = useChannelProvider()
    const channels = channelProvider.channels
    return {
      channels,
    }
  }
}
</script>
<style scoped>
  .container {
    text-align: left;
    padding-bottom: 10px;
  }
  .selectable {
    cursor: pointer;
    padding: 2px 0 2px 10px;
    border-bottom: 1px solid lightgray;
  }
  .active {
    background-color: #efefef;
  }
</style>
