<template>
  <div>
    <!--    This page will show the graph based on real channel prototypes .. when they are ready.
    The code below maybe garbage or useful. Time will tell.
    -->
    <div>
      <div v-for="path in activeChannels" :key="path.id" style="text-align: left">
        {{ path }}
      </div>
    </div>
    <draggable id="legend" class="legend" title="Legend">
      <template slot="default">
        <div v-for="path in activeChannels" :key="path.id" style="text-align: left">
          {{ path.title }} {{ path.parentPath }}
        </div>
      </template>
    </draggable>
    <div id="session_graph" class="io-graph pb-2" style="text-align: center" />
  </div>
</template>

<script>
import { computed, onMounted, ref, watch } from '@vue/composition-api'
import { userGraphHelper } from '@/components/graphHelper'
import { useSystemHelper } from '@/providers/graphDataSeries'
import { useChannelProvider } from '@/providers/channelProvider'
import { useSessionProvider } from '@/providers/sessionProvider'
import Draggable from '@/components/Draggable'

export default {
  components: {
    Draggable
  },
  setup (props, context) {
    const params = context.root.$route.params
    const sessionName = params.sessionName
    const { sessionProvider } = useSessionProvider()
    const { channelProvider } = useChannelProvider()
    const graphHelper = userGraphHelper()
    const systemHelper = useSystemHelper()
    const GRAPH_ELEMENT_ID = 'session_graph'

    const site = ref({})
    const allIoChannels = ref([])

    async function init() {
      let session = await sessionProvider.openSession(sessionName)
      site.value = session.getSite()
    }

    const activeComponents = computed(() => {
      return site.value.getActivePaths ? site.value.getActivePaths() : []
    })

    const allChannelsForActiveComponents = computed ( () => {
      return site.value.getChannelsForComponents ? site.value.getChannelsForComponents(activeComponents.value) : []
    })

    const activeChannels = computed( () => {
      return allChannelsForActiveComponents.value.filter( e => e.active )
    })


    const system = ref({})
    const legendSeries = computed( () => {
      let results = activeChannels.value.map( c => c.key)
      console.log('activeChannels', results)
      // console.log('computed', system.value)
      // console.log('computed', system.value.allSeries)
      return results
    })
    watch(activeChannels, () => { rebuild() },{deep: true })

    function activePath () {
      rebuild()
    }
    function rebuild () {
      // system.value = systemHelper.createSystem(channels.value)
      // let svg = graphHelper.createSVG(GRAPH_ELEMENT_ID, system.value)
      // graphHelper.buildGraph(svg, system.value)
      // graphHelper.createCrossHair(svg, system.value)
    }
    onMounted( () => {
      rebuild()
      init()
    })
    return {
      activePath,
      // allIoChannels,
      activeChannels,
      legendSeries,
    }
  },
  methods: {}
}
</script>
<style>
   .legend {
      position: absolute;
      top: 10%;
      left: 80%;
   }
   .io-graph {
      background-color: #f5f5f5;
      border: 1px solid black
   }

   .xAxis line {
      stroke: black;
   }

   .xAxis path {
      stroke: black;
   }

   .xAxis text {
      fill: black;
   }

   .yAxis line {
      stroke: black;
   }

   .yAxis path {
      stroke: black;
   }

   .yAxis .axisText {
      fill: black;
      /* The floating box that tracks mouse moves has text. This sets the size of that text. */
      font-size: 0.8rem;
   }
</style>
