<template>
  <div>
    <!--    This page offers two ways to select a Corvus component. Either via a tree view or a list view. -->
    <v-container fluid>
      <v-layout row>
        <v-flex xs5 class="element elevation-2">
          <v-btn @click="showTreeView = !showTreeView">
            {{ showTreeView ? 'dev-list' : 'dev-tree' }}
          </v-btn>
          <component-selector-list-view v-if="!showTreeView" />
          <component-selector-tree-view v-if="showTreeView" />
        </v-flex>
        <v-flex class="element path-selection elevation-2">
          <component-path-selector />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { ref } from '@vue/composition-api'
import ComponentSelectorListView from '@/components/ComponentSelectorListView.vue'
import ComponentSelectorTreeView from '@/components/ComponentSelectorTreeView.vue'
import ComponentPathSelector from '@/components/ComponentPathSelector.vue'

export default {
  components: {
    ComponentSelectorListView, ComponentPathSelector, ComponentSelectorTreeView
  },
  setup () {
    const showTreeView = ref(false)

    return {
      showTreeView
    }
  }
}
</script>
<style>
</style>
