<template>
  <v-app id="app" class="app">
    <v-layout col>
      <v-flex xs1>
        <app-side-bar />
      </v-flex>
      <v-flex>
        <div v-show="loadingActive" id="progressOverlay">
          <div class="progress">
            <v-progress-circular
              color="green"
              :size="250"
              :width="16"
              indeterminate
            />
          </div>
        </div>
        <router-view />
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
import { useUiSystem } from '@/providers/uiSystem'
import AppSideBar from '@/components/AppSideBar'

export default {
  components: { AppSideBar },
  setup () {
    const {loadingActive } = useUiSystem()
    return {
      loadingActive
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#progressOverlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.progress {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
